<div class="mobile-hero-margin-top_t0d tablet-hero-margin-top_t0d">
  <img style="width:100vw" src="../../assets/images/RobAndPumpkin_crop2.jpg">
</div>
<div>
  <p class="rainbow-background1_t0d hide-for-769-and-above_t0d mobile-hero-caption_t0d">
    Louisville's Wellness
    Experts Since 1977</p>
</div>


<div class="hide-for-767-and-above_t0d">
  <div class="wrap">
    <div id="arrow-left-tablet"
      class="animated slower heartBeat infinite arrow fas fa-chevron-circle-left chevcirc-tablet_t0d hide-for-576-and-below">
    </div>
    <div id="arrow-left-mobile"
      class="animated slower heartBeat infinite arrow fas fa-chevron-circle-left chevcirc-mobile_t0d hide-for-576-and-above">
    </div>

    <div id="slider">
      <div class="slide slide1">
        <div class="slide-content">
          <span class="rainbow-background1_t0d" style="padding: 5px">St. Matthews</span>
        </div>
      </div>
      <div class="slide slide2">
        <div class="slide-content">
          <span class="rainbow-background1_t0d" style="padding: 5px">Highlands/Gardiner Ln</span>
          <!-- <span>Gardiner Ln</span> -->
        </div>
      </div>
      <div class="slide slide3">
        <div class="slide-content">
          <span class="rainbow-background1_t0d" style="padding: 5px">Springhurst</span>
        </div>
      </div>
      <div class="slide slide4">
        <div class="slide-content">
          <span class="rainbow-background1_t0d" style="padding: 5px">Middletown</span>
        </div>
      </div>
      <div class="slide slide5">
        <div class="slide-content">
          <span class="rainbow-background1_t0d" style="padding: 5px">New Albany</span>
        </div>
      </div>
    </div>

    <div id="arrow-right-tablet"
      class="animated slower heartBeat infinite arrow fas fa-chevron-circle-right chevcirc-tablet_t0d hide-for-576-and-below">
    </div>
    <div id="arrow-right-mobile"
      class="animated slower heartBeat infinite arrow fas fa-chevron-circle-right chevcirc-mobile_t0d hide-for-576-and-above">
    </div>
  </div>
</div>

<!-- <div class="hide-for-767-and-below">
  <div style="margin: auto !important">
    <div style="display: inline-block">
      <img style="width: 19.7vw" src="../../assets/images/St.Matthews_crop.jpg">
    </div>
    <div style="display: inline-block">
      <img style="width: 19.7vw" src="../../assets/images/GLstore_crop.jpg">
    </div>
    <div style="display: inline-block">
      <img style="width: 19.7vw" src="../../assets/images/front+of+SH_crop.jpg">
    </div>
    <div style="display: inline-block">
      <img style="width: 19.7vw" src="../../assets/images/Middletown_Outside_crop.jpg">
    </div>
    <div style="display: inline-block">
      <img style="width: 19.7vw" src="../../assets/images/NA+Store+Picture_crop.jpg">
    </div>
  </div>
</div> -->


<div class="hide-for-767-and-below">
  <div class="card-group">
    <!-- Card -->

    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../assets/images/St.Matthews_crop.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body class="rainbow-background1_t0d text-center">
        <!--Title-->
        <mdb-card-title>
          <h5>St. Matthews</h5>
        </mdb-card-title>

        <!--Text-->
        <!-- <mdb-card-text>Something about St. Matthews</mdb-card-text> -->
      </mdb-card-body>
    </mdb-card>



    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../assets/images/GLstore_crop.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body class="rainbow-background1_t0d text-center">
        <!--Title-->
        <mdb-card-title>
          <h5>Gardiner Ln</h5>
        </mdb-card-title>

        <!--Text-->
        <!-- <mdb-card-text>Something about Gardiner Lane</mdb-card-text> -->
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../assets/images/front+of+SH_crop.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask text-center"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body class="rainbow-background1_t0d text-center">
        <!--Title-->
        <mdb-card-title>
          <h5>Springhurst</h5>
        </mdb-card-title>

        <!--Text-->
        <!-- <mdb-card-text>Something about Springhurst</mdb-card-text> -->
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../assets/images/Middletown_Outside_crop.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body class="rainbow-background1_t0d text-center">
        <!--Title-->
        <mdb-card-title>
          <h5>Middletown</h5>
        </mdb-card-title>

        <!--Text-->
        <!-- <mdb-card-text>Something about Middletown</mdb-card-text> -->
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../assets/images/NA+Store+Picture_crop.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body class="rainbow-background1_t0d text-center">
        <!--Title-->
        <mdb-card-title>
          <h5>New Albany</h5>
        </mdb-card-title>

        <!--Text-->
        <!-- <mdb-card-text>Something about New Albany</mdb-card-text> -->
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
