/* You can add global styles to this file, and also import other style files */

@import './variables_t0d.scss';

.rainbow-background1_t0d {
  background-color: $color_white;
  background-image: linear-gradient(
    319deg,
    rgba($color_rb-md-green, 0.75) 0%,
    rgba($color_rb-yellow, 0.75) 50%,
    rgba($color_rb-dk-orange, 0.75) 100%
  );
}

.rainbow-background2_t0d {
  background-color: $color_white;
  background-image: linear-gradient(
    319deg,
    rgba($color_rb-dk-orange, 0.75) 0%,
    rgba($color_rb-yellow, 0.75) 50%,
    rgba($color_rb-md-green, 0.75) 100%
  );
}

.deep-green-override-link_t0d {
  ul li a {
    color: $color_deep-green !important;
  }
}

.deep-green-override_t0d {
  color: $color_deep-green !important;
}

@media (max-width: 576px) {
  .hide-for-576-and-below {
    display: none;
  }
  .chevcirc-mobile_t0d {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hide-for-768-and-below_t0d {
    display: none;
  }
  .mobile-navbar_t0d {
    margin-top: 0;
  }
  .mobile-hero-margin-top_t0d {
    margin-top: 60px;
  }
  .mobile-hero-caption_t0d {
    text-align: center;
    font-family: Futura-Pt;
    font-size: 18px;
    margin-bottom: 0;
    color: $color_deep-green;
  }
  .chevcirc-tablet_t0d {
    font-size: 3rem;
  }
}

// @media (max-width: 800px) {
//   .left-protect-max800px {
//     padding-left: 20px;
//     font-size: 16px !important;
//   }
// }

// @media (max-width: 576px) {
//   .show-for-576-and-below {
//     display: block;
//   }
// }

@media (min-width: 576px) {
  .hide-for-576-and-above {
    display: none;
  }
}

@media (min-width: 769px) {
  .hide-for-769-and-above_t0d {
    display: none;
  }
  .tablet-navbar_t0d {
    margin-top: 113px;
  }
  .tablet-hero-margin-top_t0d {
    margin-top: 113px;
  }
}

@media (min-width: 767px) {
  .hide-for-767-and-above_t0d {
    display: none;
  }
}

@media (min-width: 768px) {
  .show-for-768-and-above_t0d {
    display: block;
  }
}

@media (max-width: 767.9px) {
  .hide-for-767-and-below {
    display: none;
  }
}
