$color_rb-yellow: #fefe00;
$color_rb-lt-orange: #ffb401;
$color_rb-md-orange: #ff4e00;
$color_rb-dk-orange: #ff0101;
$color_rb-md-green: #438543;
$color_rb-dk-green: #006500;
$color_deep-green: #004d00 !global;
$color_rb-inner-sun: #f7b516;
$color_white: #fff;
$color_lt-gray1: #ddd !global;
$color_lt-gray2: rgb(224, 230, 215);
$color_md-gray1: #bbb;
