<!-- Footer -->
<footer class="page-footer font-small rainbow-background1_t0d deep-green-override_t0d">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto deep-green-override-link_t0d">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 ">Resources</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">CBD FAQ</a>
          </li>
          <li>
            <a href="#!">Customer Resources</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto deep-green-override-link_t0d">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 ">Giving Back</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Donated</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto deep-green-override-link_t0d">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 ">Living</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">In the News</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Videos</a>
          </li>
          <li>
            <a href="#!">Recipes</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none"> -->

      <!-- Grid column -->
      <div class="col-md-3 mx-auto deep-green-override-link_t0d">

        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 "></h5> -->

        <!-- <ul class="list-unstyled">
          <li>
            <a href="#!">dont need SOCIAL here - put ky proud here</a>
          </li>
        </ul> -->

        <!--Image-->
        <div class="view overlay">
          <img style="width: 100px; margin: 10px auto 10px auto" src="../../assets/images/ky_proud_logo_black.png" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 rainbow-background2_t0d deep-green-override_t0d">© 2019
    <a class="deep-green-override_t0d" href="https://rainbowblossom.com"> Rainbow Blossom</a>
  </div>
  <!-- Copyright -->


</footer>
<!-- Footer -->
